page-interaction {

}

.right-text{
    display: flex!important;
    position: absolute;
    right: 0px;
    width: 300px;
    padding: 10px;
}

.center-text{
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
}